Checks: > 
  -*,
  modernize*,
  performance*,
  bugprone*,
  misc*,
  concurrency*,
  cppcoreguidelines*,
  clang-analyzer*,
  llvm-include-order,
  readability-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -misc-include-cleaner


WarningsAsErrors: >
  modernize*,
  bugprone*,
  performance*,
  concurrency*,
  cppcoreguidelines*,
  clang-analyzer*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -misc-include-cleaner

CheckOptions:
  Fix: false

HeaderFilterRegex: "source/**/*"

